.Landing {
   height: 100vh; 
   display: flex;
   justify-content: center;
   
}
div.Row.row {
    gap: 5em;
}

p.sub-title {
    font-weight: 500;
    width: 20em;
    
}

.heroimage {
    width: 50vh;
    margin-top: 12em;
}

.texto.col {
    margin-top: 18em;
    
}

a.text-center.btn.btn-primary.btn-sm {
    width: 8em;
    
    font-size: 0.8em;
}