.join {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5vh; 
    
      
}

span.fun{
    color: #BC3A80;
    font-size: 1em;
    font-weight: 800;
}

.formulario {
    width: 22em;
    background-color: #202027;
    padding: 2em;
    border-radius: 2vh;
}

form  {
    width: 18em;
    align-items: center;
       
}

.btn {
    width: 21.5em;
    padding-top: 2em;
}

label.form-label{
    font-size: 0.8rem ;
    font-weight: 600;

}

h2.joinsubtittle {
    width: 8em;
    font-size: 2em;
    font-weight: 700;
}

input#disabledTextInput.form-control {
    background-color:#202027 ;
    color: white;
}